SSO_CLIENT_ID="todo-app"
SSO_CLIENT_SECRET=""
SSO_REDIRECT_URL="http://localhost:5173/login/sso/callback"
SSO_USER_RESPONSE_URL="https://URL/oauth2/userinfo"
SSO_AUTH_URL="https://URL/oauth2/auth"
SSO_TOKEN_URL="https://URL/oauth2/token"
DB_URL="src/lib/server/db/sqlite.db"
PUBLIC_DEXIE_DB_URL="https://YOURS.dexie.cloud"
COOKIE_KEY=""
COOKIE_NAME=""
